html {
  font-size: 10px;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
p,
div,
blockquote {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.caption {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #445161;
  text-align: center;
}
.caption + * {
  margin-top: 3rem;
}
.about-title {
  text-align: left;
}
@media (max-width: 1199px) {
  .advantage-title {
    text-align: left;
  }
}
@media (max-width: 1280px) {
  .screenshots-title,
  .reviews-title {
    text-align: left;
  }
}
@media (max-width: 991px) {
  .offer-title {
    text-align: left;
  }
}
@media (max-width: 600px) {
  .caption {
    text-align: center;
  }
}
.screenshots__caption {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #445161;
  margin-bottom: 3.5rem;
}
@media (max-width: 600px) {
  .screenshots__caption {
    text-align: left !important;
  }
}
.screenshots__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .screenshots__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.screenshot__item {
  margin-right: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 56.5rem;
  margin-bottom: 3rem;
}
@media (max-width: 600px) {
  .screenshot__item {
    margin-right: 0;
  }
}
.screenshot__item--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.screenshot__item--content-title {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #445161;
  margin-bottom: 1.5rem;
}
.screenshot__item--content-text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}
.screenshot__item--pic {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin-right: 1.5rem;
}
@media (max-width: 600px) {
  .screenshot__item--pic {
    max-width: 100%;
  }
}
.screenshot__item--pic img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 600px) {
  .screenshot__item--pic {
    margin-right: 0;
  }
  .screenshot__item--pic + * {
    margin-top: 2rem;
  }
}
.screenshot__item:nth-child(even) {
  margin-right: 0;
}
@media (max-width: 600px) {
  .screenshot__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.advantage {
  background-color: #F5F5F5;
}
.advantage__title {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #445161;
  margin-bottom: 3rem;
}
@media (max-width: 420px) {
  .advantage__title {
    font-size: 2.1rem;
  }
}
@media (max-width: 1199px) {
  .advantage__title {
    text-align: left !important;
  }
}
.advantage__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantage__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}
.advantage__item:not(:last-child) {
  margin-bottom: 3rem;
}
.advantage__item p + p {
  margin-left: 2rem;
}
.advantage__item--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1199px) {
  .advantage__item--wrap + * {
    margin-top: 3rem;
  }
}
.advantage__item--text {
  margin-right: 2rem;
  max-width: 52.8rem;
}
@media (max-width: 1199px) {
  .advantage__item--text {
    margin-right: 0;
  }
}
@media (max-width: 1199px) {
  .advantage__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3.2rem;
  height: 3.2rem;
  background-color: #445161;
  margin-right: 1rem;
}
.pic__cross {
  margin: auto;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4.5rem 5rem;
}
@media (max-width: 1199px) {
  .container {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.intro {
  background-color: #445161;
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .intro__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.intro__inner-content--title {
  font-size: 6rem;
  line-height: 0.8;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 400;
  margin-bottom: 4rem;
}
@media (max-width: 768px) {
  .intro__inner-content--title {
    font-size: 4rem;
  }
}
.intro__inner-content--list {
  list-style-image: url("../images/check_icon_346.png");
}
.intro__inner-content--item {
  font-size: 2rem;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #fff;
  margin-left: 3.5rem;
}
@media (max-width: 768px) {
  .intro__inner-content--item {
    line-height: 1.4;
  }
}
.intro__inner-content--item:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (max-width: 1199px) {
  .intro__inner-content + * {
    margin-top: 5rem;
  }
}
.intro__inner-photo {
  max-width: 47rem;
}
.intro__inner-photo img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}
.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1199px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about__inner-content {
  max-width: 65rem;
}
.about__inner-content--text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #333333;
}
.about__inner-content--text + .about__inner-content--text {
  margin-top: 2rem;
}
.about__inner-content + * {
  margin-top: 5rem;
}
.about__inner-video {
  max-width: 43rem;
}
.about__inner-video video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: block;
  height: auto;
}
.reviews {
  background-color: #F5F5F5;
}
.reviews__caption {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #445161;
  margin-bottom: 3rem;
}
@media (max-width: 568px) {
  .reviews__caption {
    text-align: left !important;
  }
}
.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 55.5rem;
  margin-bottom: 2rem;
  margin-right: 3rem;
}
.review__item--avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.review__item--text {
  position: relative;
  padding: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  font-style: italic;
  color: #333333;
  background-color: #EBEBEB;
  border-radius: 5px;
}
.review__item--text::before {
  content: '';
  display: block;
  position: absolute;
  top: 2.5rem;
  left: -2rem;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #EBEBEB;
}
.review__item--text cite {
  display: inline-block;
  margin-top: 1rem;
  color: #989898;
}
.review__item--pic {
  margin-right: 2.5rem;
}
@media (max-width: 568px) {
  .review__item--pic + * {
    margin-top: 2rem;
  }
}
.review__item--pic img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 568px) {
  .review__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 568px) {
  .review__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
}
.offer__caption {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #445161;
  margin-bottom: 3rem;
}
.offer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4.5rem;
}
@media (max-width: 1199px) {
  .offer__items {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 600px) {
  .offer__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.offer__items--elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 30rem;
  background-color: #445161;
  border-radius: 1rem;
}
.offer__items--elem-caption--title {
  font-size: 24px;
  line-height: 3rem;
  font-weight: 400;
  color: #fff;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.offer__items--elem-price {
  background-color: #fff;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.offer__items--elem-price--title {
  font-size: 4rem;
  line-height: 3rem;
  font-weight: 400;
  color: #445162;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.offer__items--elem-description {
  padding: 20px;
}
.offer__items--elem-description--list {
  margin-left: 2rem;
  margin-bottom: 1.8rem;
}
.offer__items--elem-description--list-item {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: #fff;
}
.btn {
  display: inline-block;
  background-color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 700;
  color: #445161;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  border-radius: 5px;
  width: 100%;
}
.contacts {
  background-color: #445161;
}
textarea {
  resize: none;
  height: 17rem;
}
input {
  height: 4rem;
}
input,
textarea {
  width: 50rem;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #445162;
  border: none;
}
@media (max-width: 768px) {
  input,
  textarea {
    width: 30rem;
  }
}
input:focus,
textarea:focus {
  outline-color: #445161;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #445162;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #445162;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #445162;
}
input::placeholder,
textarea::placeholder {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #445162;
}
.contacts__caption {
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 3rem;
}
.contacts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 991px) {
  .contacts__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 991px) {
  .contacts__items--form + * {
    margin-top: 2rem;
  }
}
.contacts__items--form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contacts__items--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 4.2rem;
}
@media (max-width: 991px) {
  .contacts__items--info {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contacts__items--info--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__items--info--socials--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 4.4rem;
  height: 4.4rem;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.contacts__items--info--socials--item--icon {
  margin: auto;
  color: #445161;
  font-size: 1.7rem;
  font-weight: 700;
}
.contacts__items--info--socials--item--icon--text {
  margin: auto;
  color: #445161;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}
.contacts__items--contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}
.contacts__items--contacts-item--text {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
}
.contacts__items--contacts-item--icon {
  margin-right: 0.5rem;
}
.contacts__items--contacts {
  margin-bottom: 1.2rem;
}
.contacts-item--link {
  text-decoration: none;
}
.btn--form {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #445162;
  width: 14rem;
  height: 4rem;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__container-content {
  margin: auto;
  padding: 1rem;
  color: #445161;
  font-size: 1.2rem;
}
.img {
  display: block;
  max-width: 100%;
  height: auto;
}
.center {
  text-align: center;
}
.m-right-0 {
  margin-right: 0;
}
.hidden {
  display: none;
}
