.about {
  background-color: #fff;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
@media (max-width: 768px) {
  .about {
    padding-bottom: 1rem;
  }
}
.about__inner {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .about__inner {
    flex-direction: column;
  }
}
.about__content {
  max-width: 65rem;
}
@media (max-width: 1199px) {
  .about__content {
    margin-bottom: 2rem;
  }
}
.about__photo {
  max-width: 43rem;
}
@media (max-width: 1199px) {
  .about__photo {
    order: -1;
  }
}
