.feedback__item {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}
.feedback__img {
  width: 17px;
  height: 17px;
  margin-right: 0.5rem;
}
.feedback__description {
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #fff;
}
.feedback__link {
  color: #fff;
}
