.menu__item {
  text-transform: capitalize;
  color: #fff;
  font-size: 25px;
  font-family: "lobster", sans-serif;
  max-width: 260px;
  cursor: pointer;
  position: relative;
  transform: translateX(0);
  transition: transform 0.3s ease-in;
}
.menu__item:hover {
  text-decoration: none;
  transform: translateX(15px);
}
.menu__item + .menu__item {
  margin-top: 10px;
}
