.offer {
  padding-top: 4.5rem;
  padding-bottom: 4.5em;
}
.offer__title {
  font-family: 'lobster';
  color: #010101;
  text-align: center;
  margin-bottom: 6rem;
}
.offer__items {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 4.5rem;
}
@media (max-width: 991px) {
  .offer__items {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 600px) {
  .offer__items {
    justify-content: center;
  }
}
.offer__item {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  background-image: linear-gradient(to right top, #d38d25, #db0101);
  border-radius: 1rem;
  transition: box-shadow 0.3s linear;
}
.offer__item:hover {
  box-shadow: 2px 2px 20px #c76413;
}
