.review__image {
  object-fit: cover;
}
.review__pic {
  margin-right: 2.5rem;
}
@media (max-width: 568px) {
  .review__pic + * {
    margin-top: 2rem;
  }
}
.review__avatar {
  border-radius: 50%;
  width: 75px;
  height: 75px;
}
.review__text {
  margin-bottom: 3rem;
}
.review__quote {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.5rem;
  font-size: 2rem;
  line-height: 2.4rem;
  font-style: italic;
  color: #5c0a0a;
  background-color: #A14218;
  border-radius: 5px;
}
.review__quote::before {
  content: "";
  display: block;
  position: absolute;
  top: 2.5rem;
  left: -1.9rem;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #A14218;
}
.review__author {
  display: block;
  margin-top: auto;
  color: #fff;
}
